<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/navbar.css" />
    <title>Document</title>
  </head>
  <body>
    <% if (locals.user && locals.user.membership_status === false) {%>
    <nav class="navbar">
      <a href="/" class="navTitle">Members-Only</a>
      <div class="linkContainer">
        <span class="usernameText">Hey <%= user.username %>!</span>
        <em
          ><a href="/secret_club_adhesion" class="navAnchor"
            ><strong>Join The Club</strong></a
          ></em
        >
        <a href="/admin_adhesion" class="navAnchor"
          ><strong>Become An Admin</strong></a
        >
        <a href="/log_out" class="navAnchor"><strong>Log Out</strong></a>
      </div>
    </nav>
    <nav class="secondNavBar">
      <a href="/" class="navTitle">Members-Only</a>
      <span class="usernameText">Hey <%= user.username %>!</span>
      <em
        ><a href="/secret_club_adhesion" class="navAnchor"
          ><strong>Join The Club</strong></a
        ></em
      >
      <a href="/admin_adhesion" class="navAnchor"
        ><strong>Become An Admin</strong></a
      >
      <a href="/log_out" class="navAnchor"><strong>Log Out</strong></a>
    </nav>
    <% } %> <% if(locals.user && locals.user.admin_status === true) {%>
    <nav class="navbar">
      <a href="/" class="navTitle">Members-Only</a>
      <div class="linkContainer">
        <span class="usernameText">Hey <%= user.username %>!</span>
        <a href="/log_out" class="navAnchor">Log Out</a>
      </div>
    </nav>
    <nav class="secondNavBar">
      <a href="/" class="navTitle">Members-Only</a>
      <span class="usernameText">Hey <%= user.username %>!</span>
      <a href="/log_out" class="navAnchor">Log Out</a>
    </nav>
    <% } else if(locals.user && locals.user.membership_status === true) {%>
    <nav class="navbar">
      <a href="/" class="navTitle">Members-Only</a>
      <div class="linkContainer">
        <span class="usernameText">Hey <%= user.username %>!</span>
        <a href="/admin_adhesion" class="navAnchor"
          ><strong>Become An Admin</strong></a
        >
        <a href="/log_out" class="navAnchor">Log Out</a>
      </div>
    </nav>
    <nav class="secondNavBar">
      <a href="/" class="navTitle">Members-Only</a>
      <span class="usernameText">Hey <%= user.username %>!</span>
      <a href="/admin_adhesion" class="navAnchor"
        ><strong>Become An Admin</strong></a
      >
      <a href="/log_out" class="navAnchor">Log Out</a>
    </nav>
    <% } %> <% if (locals.user === undefined) {%>
    <nav class="navbar">
      <a href="/" class="navTitle">Members-Only</a>
      <div class="linkContainer">
        <a href="/log_in" class="navAnchor">Log in</a>
        <a href="/sign_up" class="navAnchor">Sign up</a>
      </div>
    </nav>
    <nav class="secondNavBar">
      <a href="/" class="navTitle">Members-Only</a>
      <a href="/log_in" class="navAnchor">Log in</a>
      <a href="/sign_up" class="navAnchor">Sign up</a>
    </nav>
    <% }%>
  </body>
</html>
